@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@theme{
  --font-poppins:"Poppins", sans-serif;
  --animate-dropdown: slideDown 0.2s ease-in-out;
  @keyframes slideDown {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
    
  }
}

@layer components{
  .input-prime{
    @apply  outline-none border-b border-b-primary px-3 py-3 w-100
  }

  .select-prime{
    @apply outline-none border-b border-b-primary px-3 py-3 w-100
  }

  .options-prime{
    @apply bg-base-100 text-base-content border border-base-300 rounded-lg shadow-lg p-2
  }

}


